<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          >
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
                android:name="com.github.chenqingze.wechatsdk.wxapi.WXPayEntryActivity"
                android:exported="true"
                android:label="WXPayEntryActivity"
                android:launchMode="singleTask"
                android:taskAffinity="${applicationId}"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
                android:name="${applicationId}.wxapi.WXPayEntryActivity"
                android:exported="true"
                android:targetActivity="com.github.chenqingze.wechatsdk.wxapi.WXPayEntryActivity" />
        <activity
                android:name="com.github.chenqingze.wechatsdk.wxapi.WXEntryActivity"
                android:exported="true"
                android:label="WXEntryActivity"
                android:launchMode="singleTask"
                android:taskAffinity="${applicationId}"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
                android:name="${applicationId}.wxapi.WXEntryActivity"
                android:exported="true"
                android:targetActivity="com.github.chenqingze.wechatsdk.wxapi.WXEntryActivity" />
    </application>
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>
</manifest>